/* body {
  background: url(../img/noisy.png) repeat;
} */

ul {
  margin: 0;
  li {
    list-style-type: none;
    a {
      text-decoration: none;
    }
  }
}

p {
  margin: 0;
  font-family: $poppinsRegular !important;
  font-size: $generalSize15 !important;
}

hr {
  border-color: #555;
  margin: 0;
}

a:hover{
  text-decoration: none !important;
}

.err {
  box-shadow: 0 0 3px $errorRed !important;
}
