.elevatedCard {
  min-width: 272px;
  min-height: 170px;
  //   background-image: url('../../../images/installments');
  background: $solitude;
  box-shadow: -5px -5px 10px #ffffff, 5px 5px 10px #cdcfd2;
  border-radius: 37px;
}

.elevatedCardAccounts {
  width: 309px;
  min-height: 130px;

  background: $solitude;
  box-shadow: -5px -5px 10px #ffffff, 5px 5px 10px #cdcfd2;
  border-radius: 24px;
}

.elevatedCardLessRound {
  min-width: 272px;
  min-height: 170px;
  //   background-image: url('../../../images/installments');
  // background: $solitude;

  background-image: linear-gradient(
    to right,
    #f78ca0 0%,
    #f9748f 19%,
    #fd868c 60%,
    #fe9a8b 100%
  ) !important;
  box-shadow: -5px -5px 7px #ffffff, 5px 5px 7px #cdcfd2;
  border-radius: 16px;
}
