.width5 {
  width: 5% !important;
}

.width7 {
  width: 7% !important;
}
.width10 {
  width: 10% !important;
}
.width15 {
  width: 15% !important;
}
.width20 {
  width: 20% !important;
}

.width30 {
  width: 30% !important;
}

.width40 {
  width: 40% !important;
}

.width60 {
  width: 60% !important;
}

.w-95 {
  width: 95% !important;
}

.paddingX15 {
  padding-left: 15px;
  padding-right: 15px;
}
